.container{
    width: 70%;
    margin: auto;
}

.search_btns{
    margin-top: 10px;
}

.search_div{
    padding: 10px;
}

.list_tr:hover{
    background: lightgray;
    cursor: pointer;
}

table{

    text-align: center;
    margin: 20px auto;
    width: 1000px;
}

.item_name{
    text-align: left;
    margin-left: 10px;
}

.order_container{
    width: 1000px;
    margin: auto;
}