<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SHOP</title>
    <link type="text/css" rel="stylesheet" href="/static/css/paging.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">

</head>
<body>
<div th:replace="fragments/header"></div>
<div th:replace="fragments/category"></div>
<div class="table_container" style="margin-top: 50px; width: 80%" >
    <div style="font-size: 20px; font-weight: bold">전체 상품</div>
    <div>
        <hr style="border: 1px solid black">
        <table id="item_table" >
            <tbody id="item_list" >

            </tbody>
        </table>
    </div>
    <div class="wrapper-pages">
        <ul class="paging-num" id="pages">

        </ul>
    </div>
</div>

</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/main.js" ></script>
</html>