.table_container {
    margin: 0 auto;
}


a{
    text-decoration: none;
}

.item_el{
    font-weight: bold;
    margin-top: 5px;
}

#item_table {
    border-spacing: 40px;
    text-align: center;

}

#item_name{
    font-size: 18px;
    color: #808080;
}

#item_cost {
    font-size: 21px;
    color: indianred;

}

