.paging-num {
    border: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.page_num{
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
}