<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOP</title>
    <link rel="stylesheet" href="/static/css/seller/mySell.css">
</head>
<body>
<div th:replace="fragments/header"></div>
<div th:replace="fragments/category"></div>
<div class="container">
   <div class="btn_div">
        <button class="manage_btns" type="button" onclick="itemManagePage()">상품 관리</button>
   </div>
    <div class="btn_div">
        <button class="manage_btns" type="button" onclick="orderManagePage()">주문 관리</button>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/seller/mySell.js"></script>
</body>
</html>