<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SHOP</title>
    <link rel="stylesheet" href="/static/css/paging.css">
    <link rel="stylesheet" href="/static/css/seller/orderManage.css"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<div th:replace="fragments/category"></div>
<div class="container">
    <div class="order_container">
        <div>주문상품 목록</div>
        <div class="search_div" style="border: 1px solid gray">
            <div class="search_title">검색 조건</div>
            <div>
                <div class="search_word">
                    <input id="search_word" type="text" placeholder="주문번호 혹은 상품명을 입력해주세요"/>
                </div>
                <div class="search_date">
                    <input id="start_date" type="date"/>
                    <input id="end_date" type="date"/>
                </div>
                <button type="button" onclick="search()">검색</button>
            </div>
        </div>
        <div class="list_container">
            <table>
                <thead>
                <th width="10%">주문번호</th>
                <th width="40%">상품 정보</th>
                <th width="10%">금액</th>
                <th width="30%">주문일자</th>
                <th width="10%">상태</th>
                </thead>
                <tbody id="order_list">

                </tbody>
            </table>
        </div>
        <div class="wrapper-pages">
            <ul class="paging-num" id="order_pages">

            </ul>
        </div>
    </div>
</div>



<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/seller/orderManage.js"></script>
</body>
</html>