<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOP</title>
    <link rel="stylesheet" href="/static/css/member/orderInfo.css">

</head>
<body>
<div th:replace="fragments/header"></div>
<div th:replace="fragments/category"></div>
<div class="container">
    <div class=order_info>
        <div class="info_title">주문 번호</div>
        <div id="order_id" th:text="${order.orderId}" th:value="${order.orderId}"></div>
    </div>

    <div class="order_info">
        <div class="info_title">주문 상태</div>
        <div class="info" id="state_txt" th:text="${order.status}"></div>
        <div>
            <select id="state_select">
                <option value="ITEM_READY">상품 준비</option>
                <option value="DELIVERY_READY">배송 준비</option>
                <option value="DELIVERY">배송중</option>
                <option value="COMPLETE">배송 완료</option>
                <option value="CANCEL">취소</option>
            </select>
            <button type="button" onclick="update_state()">변경</button>
        </div>
    </div>
    <div class="item_table">
        <table>
            <thead>
            <th width="60%">상품정보</th>
            <th width="10%">상품금액</th>
            <th width="10%">수량</th>
            <th width="10%">소계</th>
            </thead>
            <tbody id="item_tbody">
            <tr class="img_tr" th:each="item : ${order.getOrder_items()}">
                <td>
                    <div class="item_img">
                        <img th:src="@{/image/} + ${item.getItem().getImgUrl()}"/>
                        <div class="item_name" th:text="${item.getItem().getName()}"></div>
                    </div>
                </td>
                <td>
                    <div th:text="${item.getItem().getCost()}"></div>
                </td>
                <td>
                    <div th:text="${item.getCount()}"></div>
                </td>
                <td>
                    <div th:text="${item.getItem().getCost()} * ${item.getCount()}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="order_info">
        <div class="info_title">주문/결제 금액 정보</div>
        <table id="cost_table">
            <thead>
            <th width="50%">결제 정보</th>
            <th width="50%">총 결제금액</th>
            </thead>
            <tbody>
            <tr id="order_cost_tr">
                <td class="first_td">
                    <div class="table_info">주문금액 </div>
                    <div class="table_val" th:text="${order.getCost()} - 2500">1</div>
                </td>
                <td rowspan="2">
                    <div th:text="${order.getCost()}">1</div>
                </td>
            </tr>
            <tr>
                <td class="first_td">
                    <div class="table_info">배송비 </div>
                    <div class="table_val" th:text="2500">1</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="order_info">
        <div class="info_title">배송지 정보</div>
        <div class="del_div">
            <div class="del_subtitle">주문자</div>
            <div class="del_info">
                <div class="del_info_div">성함: <span th:text="${order.member.name}"></span></div>
                <div class="del_info_div">휴대전화: <span th:text="${order.member.getPhone()}"></span></div>
            </div>
        </div>
        <div class="del_div">
            <div class="del_subtitle">받으시는 분</div>
            <div class="del_info">
                <div class="del_info_div">성함: <span id="name" th:text="${order.getReceiveName()}"></span></div>
                <div class="del_info_div">주소</div>
                <div class="del_info_div" id="zipcode" th:text="${order.getZipCode()}"></div>
                <div class="del_info_div" id="address" th:text="${order.getAddress()}"></div>
                <div class="del_info_div" id="details" th:text="${order.getExtraAddr()}"></div>
                <div class="del_info_div" >배송메시지</div>
                <textarea class="del_text" th:text="${order.deliveryMessage}" readonly></textarea>

            </div>
        </div>
        <div class="del_update">
            <div class="info_title">배송지 수정</div>
            <div class="del_info">
                <div class="del_info_div">성함: <input id="update_name" type="text" ></div>
                <div class="del_info_div">주소 <button type="button" onclick="search_addr()">주소 찾기</button></div>
                <div class="del_info_div"><input id="update_zipcode" type="text"  ></div>
                <div class="del_info_div"><input id="update_address" type="text"  ></div>
                <div class="del_info_div"><input id="update_detailAddr" type="text" ></div>
            </div>
            <div><button type="button" onclick="update_delivery()">배송지 변경</button></div>

        </div>
    </div>


</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/seller/orderManagePage.js"></script>
</body>
</html>