<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 정보</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div th:replace="fragments/category"></div>
<div class="item_container">
    <div class="item_top">
        <input id="item_id" type="hidden" th:value="${item.id}"/>
        <img id="item_img" class="itemImg" onerror="onerror=null; src='/static/img/error.png'" th:src="|/static/img/${item.imgUrl}|" style="display: inline-block; width: 250px; height: 300px">
        <div><input id="input_img" type="file" onchange="changeImgUrl(this, 0)" /></div>
        <div class="item_txt" style="display: inline-block">
            <div class="txt_wrapper">
                <label th:for="name">상품명: </label>
                <span id="item_name_div" th:text="${item.name}"></span>
                <div><input type="text" id="item_name" th:name="name" placeholder="수정할 이름을 입력해주세요."></div>
            </div>
            <div class="txt_wrapper">
                <label th:for="cost">가격: </label>
                <span id="item_cost_div" th:text="${item.cost}"></span>
                <div><input type="number" min="0" id="item_cost" th:name="cost" placeholder="수정할 가격을 입력해주세요."></div>
            </div>
            <div class="txt_wrapper">
                <label th:for="count">재고량: </label>
                <span id="stock_count_div" th:name="count" th:text="${item.count}"></span>
            </div>
            <div class="txt_wrapper">
                <input id="stock_count" min="0" type="number" placeholder="수정할 재고수량을 입력해주세요"/>
                <div class="stock_btns">
                    <button onclick="addStock()">추가</button><button onclick="removeStock()">감소</button><button onclick="updateStock()">재고 수정</button>
                </div>
            </div>
            <div class="txt_wrapper">
                <button type="button" onclick="updateItem()">상품 수정</button>
            </div>
        </div>
    </div>
    <div class="item_bottom">
        <div class="item_tab">
            <span class="item_details">
                상품 안내
            </span>
        </div>
        <div class="item_bottom_content">
            <div id="item_etr" th:text="${item.etrTxt}"></div>
            <div><input type="text" id="update_etr" placeholder="추가적으로 필요한 내용을 입력해주세요."> </div>
            <div><input id="input_description" type="file" onchange="changeImgUrl(this, 1)"/></div>
            <img id="descriptionImg" onerror="this.style.display='none'" th:src="|/static/img/${item.descriptionUrl}|" style="width: 500px">
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/seller/sellItemInfo.js"></script>
</body>
</html>