<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/category.css"/>
</head>
<body>
<div class="category_container">
    <hr style="border: 1px solid gray">
    <ul id="category">
        <li class="category_item">PS4</li>
        <li class="category_item">PS5</li>
        <li class="category_item">SWITCH</li>
        <li class="category_item">XBOX</li>
        <li class="category_item">주변기기</li>
    </ul>
    <hr style="border: 1px solid gray">
</div>
</body>
</html>