<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/category.css"/>
</head>
<body>
<div class="category_container">
    <hr style="border: 1px solid gray">
    <ul id="category">
        <li class="category_item"><a href="/item/category/1">PS4</a></li>
        <li class="category_item"><a href="/item/category/2">PS5</a></li>
        <li class="category_item"><a href="/item/category/3">SWITCH</a></li>
        <li class="category_item"><a href="/item/category/4">XBOX</a></li>
        <li class="category_item"><a href="/item/category/5">주변기기</a></li>
    </ul>
    <hr style="border: 1px solid gray">
</div>
</body>
</html>