<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>main</title>

</head>
<body>

<div class="not_login" sec:authorize="isAnonymous()">
    <a href="/">MAIN</a>
    <a href="/member/login"> 로그인 </a>
    <a href="/member/join"> 회원가입 </a>
</div>
<div class="on_login" sec:authorize="isAuthenticated()">
    <a href="/">MAIN</a>
    <span id="user_nickname" >해당 유저 닉네임 </span>
    <input type="hidden" id="memberId"  >
    <input type="button" value="로그아웃" id="logout_Btn" onclick="logout()"/>
    <a href="/sell/my" sec:authorize="hasAuthority('ADMIN')">판매 관리</a>
</div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/header.js"></script>

</html>