<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
</head>
<body>

<div class="not_login" sec:authorize="isAnonymous()">
    <a href="/">MAIN</a>
    <a href="/member/login"> 로그인 </a>
    <a href="/member/join"> 회원가입 </a>
</div>
<div class="on_login" sec:authorize="isAuthenticated()">
    <a href="/">MAIN</a>
    <a href="/order/my"><span id="user_nickname"> </span><span>님</span></a>
    <input type="hidden" id="memberId"  >
    <button id="logout_Btn" onclick="logout()">로그아웃</button>
    <a href="/sell/my" sec:authorize="hasAuthority('ADMIN')">판매 관리</a>
    <a href="/member/cart" sec:authorize="hasAnyAuthority('USER')">장바구니</a>
</div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/header.js"></script>

</html>